body {
    margin: 0px;
    padding: 0px;
}
.first-section {
    display: flex;
    background-color: rgb(0, 0, 78);
    color: white;
    flex: 1 0 auto;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
}
/* styles that apply to the first section of the website */
.header{
    display: flex;
    flex: 1 0 0;
    align-items: center;
}
/* styles that apply to the header of the website */
a {
    text-decoration: none;
    color: white;
}
/* styles that apply to all links */
.links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    font-size: 24px;
}
/* stlyes that apply to links in the header */
.body-one {
    display: flex;
}
/* styles for the body of the first section of the website */
.paragraph-one {
    display: flex;
    flex-direction: column;
}
/* styles that appply to the first paragraph in the website */
img {
    width: 500px;
    margin-left: auto;
}